body {
    background-color: #24242b;
}

H1 {
    color:#b3c8da;
    font-size: 50px;

}

H2 {
    color:#5f7a90;
}

p {
    color:darkgray;
}


.white-text {
    color: white;
}

li {
    color: darkgrey
}