body{
    background:yellow;
display:flex;
justify-content:center;
 padding:40px;
border:3px solid red;
}



.bg1{
width:450px;
    height:300px;
margin:0 auto;
background-image:url("images/seal.jpeg");
background-size:cover;
       
}




.bg2{
    width:450px;
height:230px;
    margin:30px auto;
background-image:url("images/seal.jpeg");
background-size:200px;
background-repeat:repeat;
}




        .bg3{
width:450px;
height:250px;
background:lightblue;
margin:30px auto;
background-image:url("images/seal.jpeg");
background-repeat:no-repeat;
    background-size:contain;
background-position:right;
            background-size: 200px
            
    
}



.img1{
width:450px;
    display:block;
margin:30px auto;
}




.cropbox{
width:450px;
height:200px;
    background:lightblue;
margin:30px auto;
overflow:hidden;
}



    .img2{
width:450px;
        height:200px;
object-fit:cover;
object-position:right center;
}
